body {
  margin-top: 55px;
  font-family: "Lato", sans-serif;
}

.sidebar {
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #f7f7f7;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #3ed6a6;
  color: #f7f7f7;
}

.sidebar a:hover:not(.active) {
  background-color: #3ed6a6;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
